<div class="surface-card p-4 shadow-2 border-round">
  <div class="font-medium text-2xl text-900 mb-3">Recherche avancée</div>
  <div class="flex">
    <div class="pr-3">
      <p-autoComplete [(ngModel)]="selectedVendor" [showEmptyMessage]="true" [suggestions]="vendors" (completeMethod)="filterVendors($event)"
      [minLength]="1" [placeholder]="'Vendor'" [dropdown]="true"></p-autoComplete>
    </div>
    <div class="pr-3">
      <p-autoComplete [(ngModel)]="selectedPlatform" [showEmptyMessage]="true" [suggestions]="platforms" (completeMethod)="filterPlatforms($event)"
      [minLength]="1" [placeholder]="'Platform'" [dropdown]="true"></p-autoComplete>
    </div>
    <div class="pr-3">
      <p-autoComplete [(ngModel)]="selectedFunction" [showEmptyMessage]="true" [suggestions]="functions" (completeMethod)="filterFunctions($event)"
      [minLength]="1" [placeholder]="'Function'" [dropdown]="true"></p-autoComplete>
    </div>
    <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="p-button-rounded p-button-text" (click)="getTemplates()"></button>

  </div>
</div>

<div *ngIf="search == true" class="surface-card mt-4 p-4 shadow-2 border-round">
  <div class="font-medium text-2xl text-900 mb-3">Templates</div>
  <p-table [value]="templates" dataKey="name" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem"></th>
            <!-- <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th> -->
            <th>Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-template let-expanded="expanded">
        <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="template" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
              {{template.name}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-template>
        <tr>
            <td colspan="12" class="m-0 p-0">
                <div *ngFor="let confDirectory of template.confdirectories; let i = index">
                  <li *ngIf="i%2 === 0; else elseBlock" class="flex align-items-center py-3 px-2 flex-wrap surface-50">
                    <div class="text-500 w-full md:w-2 font-medium flex justify-content-center align-items-center">
                      <div>{{confDirectory.name}}</div>
                      <button pButton pRipple *ngIf="areTempAndDirPresent(template.name, confDirectory.name) == false" type="button" icon="pi pi-plus" label="Add Conf"
                        class="p-button-rounded p-button-text p-button-success text-green-500 ml-4" (click)="switchAdding(template.name, confDirectory.name)"></button>
                      <button pButton pRipple *ngIf="areTempAndDirPresent(template.name, confDirectory.name) == true" type="button" icon="pi pi-minus" label="Add Conf"
                        class="p-button-rounded p-button-text p-button-danger text-pink-500 ml-4" (click)="switchAdding(template.name, confDirectory.name)"></button>
                    </div>
                    <div class="text-900 w-full md:w-10">
                      <div class="grid flex mt-0 mr-0">
                        <p-multiSelect *ngIf="areTempAndDirPresent(template.name, confDirectory.name) == true" [options]="confs" [(ngModel)]="selectedConfs" defaultLabel="Select telegraf conf"
                          optionLabel="name" display="chip" class="col-12 md:col-6" styleClass="py-1" [style]="{'width': '100%'}" [selectionLimit]="1"></p-multiSelect>
                        <div *ngIf="areTempAndDirPresent(template.name, confDirectory.name) == true" class="px-3 py-1 flex justify-content-between align-items-center">
                          <button pButton pRipple type="button" icon="pi pi-save" label="Save" class="p-button-rounded p-button-text p-button-success text-green-500" (click)="addConf(template.name, confDirectory.name, selectedConfs)"></button>
                        </div>
                        <div *ngFor="let file of confDirectory.files" class="col-12 md:col-6">
                          <div class="px-3 py-1 border-1 border-300 border-round surface-0 flex justify-content-between align-items-center">
                            <div class="text-900">
                              <i class="pi pi-file mr-2"></i>
                              <span class="font-medium">{{file}}.conf</span>
                            </div>
                            <div>
                              <!-- <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text m-0 p-0"></button> -->
                              <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-text p-button-danger ml-2 text-pink-500" (click)="removeConf(template.name, confDirectory.name, file.conf)"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <ng-template #elseBlock>
                    <li class="flex align-items-center py-3 px-2 flex-wrap">
                      <div class="text-500 w-full md:w-2 font-medium flex justify-content-center align-items-center">
                        <div>{{confDirectory.name}}</div>
                        <button pButton pRipple type="button" icon="pi pi-plus" label="Add Conf" class="p-button-rounded p-button-text p-button-success text-green-500 ml-2" (click)="switchAdding(template.name, confDirectory.name)"></button>
                      </div>
                      <div class="text-900 w-full md:w-10">
                          <div class="grid flex mt-0 mr-0">
                              <p-multiSelect *ngIf="areTempAndDirPresent(template.name, confDirectory.name) == true" [options]="confs" [(ngModel)]="selectedConfs" defaultLabel="Select a City"
                                optionLabel="name" display="chip" class="col-12 md:col-6" styleClass="py-1" [style]="{'width': '100%'}" [selectionLimit]="1"></p-multiSelect>
                              <div *ngIf="areTempAndDirPresent(template.name, confDirectory.name) == true" class="px-3 py-1 flex justify-content-between align-items-center">
                                <button pButton pRipple type="button" icon="pi pi-save" class="p-button-rounded p-button-text p-button-success text-green-500" (click)="addConf(template.name, confDirectory.name, selectedConfs)"></button>
                              </div>
                              <div *ngFor="let file of confDirectory.files" class="col-12 md:col-6">
                                  <div class="px-3 py-1 border-1 border-300 border-round surface-0 flex justify-content-between align-items-center">
                                      <div class="text-900">
                                          <i class="pi pi-file mr-2"></i>
                                          <span class="font-medium">{{file}}.conf</span>
                                      </div>
                                      <div>
                                        <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text m-0 p-0"></button>
                                        <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-text p-button-danger ml-2 text-pink-500" (click)="removeConf(template.name, confDirectory.name, file.conf)"></button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </li>
                  </ng-template>
                </div>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>

<!-- <div class="surface-section pb-5 md:px-6 lg:px-8">
    <div class="text-3xl font-medium text-900 flex align-items-center">Virtual Machines</div>
</div>
<ul class="list-none p-0 m-0 flex flex-column md:flex-row">
  <li class="relative mr-0 md:mr-8 flex-auto">
      <div class="border-1 surface-border surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1 align-items-center justify-content-center">
        <div class="mr-3">
          <div class="border-1 border-200 surface-50 flex align-items-center justify-content-center border-round mx-auto" style="width:90px; height:90px">
              <img src="assets/images/TelegrafTiger.png" style="height: 48px" />
          </div>
        </div>
        <div>
          <span class="text-900 font-medium">Telegraf</span>
          <div class="text-600 text-sm mt-2">Status :
            <span class="text-green-500 font-medium">UP</span>
          </div>
          <p-button label="Show" icon="pi pi-search" styleClass="p-button-sm p-button-rounded h-2rem mt-2" routerLink="/telegraf"></p-button>
        </div>
      </div>
      <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px"></div>
  </li>
  <li class="relative mr-0 md:mr-8 flex-auto">
      <div class="border-1 surface-border surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1 align-items-center justify-content-center">
        <div class="mr-3">
          <div class="border-1 border-200 surface-50 flex align-items-center justify-content-center border-round mx-auto" style="width:90px; height:90px">

          </div>
        </div>
        <div>
          <span class="text-900 font-medium">InfluxDB Hot</span>
          <div class="text-600 text-sm mt-2">Status :
            <span class="text-green-500 font-medium">UP</span>
          </div>
        </div>
      </div>
      <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px"></div>
  </li>
  <li class="relative mr-0 md:mr-8 flex-auto">
    <div class="border-1 surface-border surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1 align-items-center justify-content-center">
      <div class="mr-3">
        <div class="border-1 border-200 surface-50 flex align-items-center justify-content-center border-round mx-auto" style="width:90px; height:90px">

        </div>
      </div>
      <div>
        <span class="text-900 font-medium">InfluxDB Hot</span>
        <div class="text-600 text-sm mt-2">Status :
          <span class="text-green-500 font-medium">UP</span>
        </div>
      </div>
    </div>
    <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px"></div>
  </li>
  <li class="relative flex-auto">
    <div class="border-1 surface-border surface-card border-round p-3 flex flex-column md:flex-row align-items-center z-1 align-items-center justify-content-center">
      <div class="mr-3">
        <div class="border-1 border-200 surface-50 flex align-items-center justify-content-center border-round mx-auto" style="width:90px; height:90px">

        </div>
      </div>
      <div>
        <span class="text-900 font-medium">InfluxDB Hot</span>
        <div class="text-600 text-sm mt-2">Status :
          <span class="text-green-500 font-medium">UP</span>
        </div>
      </div>
    </div>
  </li>
</ul> -->

<!-- <div class="surface-ground">
  <div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="surface-card shadow-2 p-3 border-1 surface-border border-round ">
        <div class="flex mb-3 align-items-center">
          <div class="flex align-items-center justify-content-center bg-orange-100 border-round mr-3" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-sort-alt text-orange-500 text-xl"></i>
          </div>
          <div class="text-900 font-medium text-xl">Telegraf</div>
        </div>
        <span class="text-500">Status : </span>
        <span class="text-green-500 font-medium">UP</span>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="surface-card shadow-2 p-3 border-1 surface-border border-round">
        <div class="flex mb-3 align-items-center">
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round mr-3" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-database text-blue-500 text-xl"></i>
          </div>
          <div class="text-900 font-medium text-xl">InfluxDB Hot</div>
        </div>
        <span class="text-500">Status : </span>
        <span class="text-green-500 font-medium">UP</span>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="surface-card shadow-2 p-3 border-1 surface-border border-round">
        <div class="flex mb-3 align-items-center">
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round mr-3" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-database text-blue-500 text-xl"></i>
          </div>
          <div class="text-900 font-medium text-xl">InfluxDB Cold</div>
        </div>
        <span class="text-500">Status : </span>
        <span class="text-green-500 font-medium">UP</span>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <div class="surface-card shadow-2 p-3 border-1 surface-border border-round">
        <div class="flex mb-3 align-items-center">
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round mr-3" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
          </div>
          <div class="text-900 font-medium text-xl">Kapacitor</div>
        </div>
        <span class="text-500">Status : </span>
        <span class="text-green-500 font-medium">UP</span>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>


