<div class="surface-section pb-2 md:px-6 lg:px-8">
  <div class="text-3xl font-medium text-900 flex align-items-center">Telegraf</div>
</div>
<div class="grid mt-3">
  <div class="col-12 lg:col-3">
    <div class="shadow-2 border-1 surface-border border-round surface-card p-3">
      <ul class="list-none p-0 m-0 mt-2">
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-2">
          <div class="flex align-items-center">
            <div>
              <span class="text-xl text-900 font-medium">Services</span>
            </div>
          </div>
          <div class="flex">
            <button pButton pRipple label="Details" class="p-button-text p-button-sm p-button-rounded mr-1 h-2rem" icon="pi pi-folder-open" routerLink="services"></button>
          </div>
        </li>
        <p-chart type="doughnut" [data]="data_services" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      </ul>
    </div>

    <div class="shadow-2 border-1 surface-border border-round surface-card p-3 mt-3">
      <ul class="list-none p-0 m-0 mt-2">
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-2">
          <div class="flex align-items-center">
            <div>
              <span class="text-xl text-900 font-medium">Configurations</span>
            </div>
          </div>
          <div class="flex">
            <button pButton pRipple label="Details" class="p-button-text p-button-sm p-button-rounded mr-1 h-2rem" icon="pi pi-folder-open" routerLink="confs"></button>
          </div>
        </li>
        <p-chart type="doughnut" [data]="data_configurations" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      </ul>
    </div>
  </div>

  <div class="col-12 lg:col-9">
    <router-outlet></router-outlet>
  </div>
</div>
